@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  background: #400e9b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 2px solid #000;
  background-image: url('assets/menubg.jpg');
  width: 100%;
  max-width: 400px;      /* keeps it reasonable on PC */
  height: auto;
  aspect-ratio: 9 / 16;
}
.menu-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    background-image: url('assets/menubg.jpg');
    object-fit: cover;
}
.menu-container h1{
    font-size: 5rem;
    font-family: 'Bebas Neue';
    color: azure;
}
.menu-container a{
    height: 1rem;
    width: 12rem;
    padding: 3rem;
    text-align: center;
    border: 3px solid black;
    border-radius: 50px;
    background: gold;
    font-family: 'Montserrat';
    text-decoration: none;
    font-weight: 600;
    color: #000;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.game-over-box {
  background: rgb(255, 225, 57);
  padding: 25px 40px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 70%;
  border: 2px solid #000;
}

.game-over-box h1 {
  margin: 0 0 10px;
  font-family: 'Bebas Neue';
  font-size: 3rem;
  font-weight: 600;
}
.game-over-box p{
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 400;
}

.game-over-box button {
  margin-top: 15px;
  margin-left: auto;
  margin-right:auto ;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Montserrat';
  width: 8rem;
  display: flex;
  justify-content: center;
  background: #400e9b;;
  border-radius: 20px;
  color: #fff;
  font-weight: 400;
  border: 1px solid #fff;
}
.game-over-box a{
  margin-top: 15px;
  margin-left: auto;
  margin-right:auto ;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Montserrat';
  width: auto;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background: #400e9b;
  color: #fff;
  font-weight: 400;
  border-radius: 20px;
  border: 1px solid #fff;
}

.hidden {
  display: none;
}

